body {
    font-family: arial;
    font-size: 16px;
    margin:0;
    background-image: url(https://www.periodicoenfoque.com.mx/images/NOTAS_2020/julio/05julio/simpson.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    text-align: center;
    padding: 16px;

}

.simpsons-list {
    display: flex;
    padding: 0 10px;
    grid-template-columns: 1fr 100px 1fr;
    max-width: 800px;
    margin: auto;
}

.simpsons {
    border: 1px solid #333;
    padding: 10px;
    background: #f5f5f5;
    text-align: center;
    width: 100%;
    height: 100%;;
}

.and {
    text-align: center;
    margin: auto;
    font-size: 32px;
}

.button {
    background-color: #ffc107;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
  background-color: #ff8f00;
  }

